﻿<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/NLMK_logo_new.jpg"  width="160" height="120" alt="" />
</div>

<div class="container ">
    <input id="ChartValue" type="hidden" value="" />
    <input id="ChartDate" type="hidden" value="" />
    <input id="event" type="hidden" value="0" />
    <div class="row col-md-12"><p align="center" style="font-size: 24px"> <font face="Arial"> Мониторинг скорости агрегата </font></p></div>
    <div class="row col-md-12">
        <div id="grid"></div>
    </div>
    <div class="row col-md-12">
        <hr />
        <input id="BValue" type="submit" value="Смоделировать падение скороости" />
        <details>
            <summary> ========   </summary>
            <div class="row">
                <label> Об/Мин  </label>
                <input id="Random" value="119" />
            </div>
            <div class="row">
                <label>Мин Уровень </label>
                <input id="Min" value="123" />
            </div>

            <div class="row">
                <label>Email </label>
                <input type="checkbox" checked id="IsMail" />
                <input id="Mail" value="warningsender95@gmail.com" />
            </div>
            <div class="row">
                <label>Phone </label>
                <input type="checkbox" checked id="IsPhone" />
                <input id="Phone" value="79513009712" />
            </div>


        </details>


    </div>
</div>

<script>
    $("#BValue").click(function () {
       
        $.ajax({
            url: '/Home/SetValue', data: {
                Random: $("#Random").val(),
                Min: $("#Min").val(),
                IsMail: $("#IsMail").is(':checked'),
                Mail: $("#Mail").val(),
                IsPhone: $("#IsPhone").is(':checked'),
                Phone: $("#Phone").val()
            }, method: 'POST'
        }).done(
            function () {
                if ($("#event").val() == 0) {
                    $("#event").val(1);
                    $("#BValue").val('Восстановить скорость')
                    $("#Random").val(124)
                } else
                {
                    $("#event").val(0);
                    $("#BValue").val('Смоделировать падение скороости')
                    $("#Random").val(119)
                }
              
            }
        )

    });
    var NlmkHub = $.connection.nlmkHub;

    $.connection.hub.start().done(
        function () { NlmkHub.server.servise(); });


    NlmkHub.client.graphvalue = function (value) {
        $('#ChartValue').val(value.Value);
        $('#ChartDate').val(value.DateString);
    }

    NlmkHub.client.graph = function (val) {
        Highcharts.chart('grid', {

            chart: {
                type: 'spline',

                marginRight: 5,
                //  weihgt:3000,
                height: 400,
                events: {
                    load:
                        function () {
                            var series = this.series[0];
                            setInterval(function () {
                                var x = new Date($('#ChartDate').val()).getTime(),
                                    y = Number($('#ChartValue').val());

                                series.addPoint([x, y], true, true);
                            }, 1000);
                        }
                }
            },
            title: { text: 'АНГЦ-4' },

            xAxis: { type: 'datetime', tickPixelInterval: 200 },
            yAxis: {
                max: 130,
                min: 115,
                title: { text: 'Cкорость, об/мин' },

                plotLines: [{
                    value: 123,
                    color: '#FF0000',
                    width: 1
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 1);
                }
            },
            legend: { enabled: false },
            exporting: { enabled: false },
            series: [{
                turboThreshold: 1200,
                name: 'Скорость',
                data: (function () {
                    var data = [];
                    $.each(val, function (index, value) { data.push({ x: new Date(value.DateString).getTime(), y: value.Value }); });
                    return data;
                }())
            }]
        });


    }
</script>
